* {
    margin: 0;
}

body {
    background: #dedede;
}

.topo {
    width: 100%;
    height: 60px;
    background: #210d85;
    position: absolute;
}

.logo {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    position: absolute;
    margin-left: 30px;
    margin-top: 15px;
}

.menu {
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    margin-top: 20px;
    right: 5%;
}

.corpo {
    width: 1000px;
    height: 800px;
    background: #ffffff;
    position: absolute;
    margin-top: 60px;
    margin-left: 500px;

}

.rodape {
    width: 100%;
    height: 60px;
    background: #0f034f;
    margin-top: 900px;
    position: absolute;
    color: #ffffff;
    text-align: center;
}

.titulo {
    font-size: 20px;
    color: #0f034f;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
     font-family: Arial;
}

.texto{
    margin-left: 20px;
    
}

.textocontato{
    margin-left: 20px;
    color: #0f034f;
    
}
.centralizar{
    text-align:center ;
    margin-left: 70px;
    color: white;
}

.cursos {
    background: #e2e2e2;
    width: 960px;
    height: 30px;
    margin-left: 15px;
    padding: 5px;

}
/* formatação da âncora */
a:visited{
    color: #ffffff;
}
a:link{
    color:#ffffff; /* Cor do link */
    text-decoration: none; /* Decoração do link Obs.: Sublinhado */
}
a:hover{
    color: #7d7d7d;
}
a:active{
    color: orange;
}
/* formatação da div do formulário */
.formulario{
    width: 300px;
    height: 400px;
    background: #c0c2c0;
    margin: auto ;
    margin-left: 200px;
    margin-top: 100px;
    
    
}
.formatacamposdetexto{
    border-radius: 5px; /* Arredondar os cantos */
    border-style: none; /* Retirei a borda */
    background: #dfdfdf; /* cor de fundo */
    height: 20px; /* altura */
    width: 250px; /* largura */
    font-size: 14px; /* tamanho da fonte */
    margin-left: 10px;
}
.formatatextarea{
    border-radius: 5px; /* Arredondar os cantos */
    border-style: none; /* Retirei a borda */
    background: #dfdfdf; /* cor de fundo */
    height: 80px; /* altura */
    width: 250px; /* largura */
    font-size: 14px; /* tamanho da fonte */
    margin-left: 10px;
    
}
button{
    width:90%;
    background: #210d85;
    color: #ffffff;
    height: 30px;
    border-radius: 7px;
    border-style: none;
    margin-left: 10px;
}
.fundocontato{
    width: 1200px;
    height: 800px;
    position: absolute;
    margin-top: 60px;
    margin-left: 500px;
    z-index: 9999;
}

.inverter{
    transform:scaleX(-1);
    background-size: cover ;
    position:absolute ;
    width: 1000px;
    z-index: -1;
}

.titulosobre {
    font-size: 30px;
    color: #499dec;
    font-weight: bold;
    margin-left: 20px;
    font-family: Arial;
    text-align: center;
}
.subtitulosobre{
   font-size: 15px;
   color: #210d85;
  margin-left: 100px;
   font-family: Arial;
}
.caixa{
    background: #d2dff0;
    width: 960px;
    height: 100px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}
.centralizarimg{
    margin-left: 200px;
}
    .ajustar{
        margin-left: 800px;
    }
    .caixa2{
        background: #d2dff0;
        width: 960px;
        height: 200px;
        margin-left: 10px;
        padding: 5px;
        border-radius: 5px;
    }    
    .caixacursos{
    background: #d2dff0;
    width: 960px;
    height: 100px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px; 
    }
    .centralizarimg2{
        margin-left: 400px;
    }
    .fundocorpocontato{
        background-image: url(IMAGENS/fundo.avif);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    }
    
    